<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up!</title>
</head>

<body>
    <main>
        <h1>Sign-up!</h1>
        <a href="{% url 'home' %}">Go back</a>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ signup.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>

</html>
