<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <a href="{% url 'home' %}">Go back</a>
    <h1>Expense Category</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <th>{{ category.name }}</th>
                <th>{{ category.receipts.count }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
